@charset "utf-8";

body {
    color: #333;
    background-color: rgba(119, 119, 119, 0.062);
    font-size: 18px;
}

@font-face {
    font-family:'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
}

h3 {
    color: #777;
}