@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "helvetica", "arial narrow", "arial";
    color: #111;
}
 a {
    color: #31d1bb;
 }

 header{
    height: 80px;
    background-color: #111;
 }

 nav {
    float: right;
    margin-top: 30px;
 }

 nav a{
    color: #f4f4f4;
    text-decoration: none;
    padding: 30px 20px;
  }

 nav a:hover{
    background-color: #31d1bb;
 }

 h1 {
    font-size: 60px;
 }
 h5 {
    color: #777;
    padding: 5px 0 0 5px;
 }

 article {
    padding: 30px 0;
 }

 label {
    font-weight: bold;
    font-size: 14px;
 }

 footer {
    text-align: center;
    background-color: #ccc;
    margin-top: 50px;
    padding: 20px 0;
    color: #111;
 }

 input{
    width: calc(100% - 20%);
    padding: 10px;
 }

 textarea {
    width: calc(100% - 20px);
    padding: 10px;
 }

 #logo1 {
    float: left;
    margin-top: 10px;
 }

 #cabecalho-interno {
    padding: 50px;
    background-color: #ccc;
 }

 .container {
    width: 960px;
    margin: 0 auto;
 }

 .botao-enviar {
    background-color: #02b81a;
    border: solid 1px #016b0f;
    color: white;
    padding: 20px;
    width: 100%;
 }

 .linha {
    margin: 10px 0 20px 0;
 }

 .coluna {
    width: 50%;
    float: left;
 }